# Игнорировать все файлы в папке data и её подпапках
data/**
# Но не игнорировать .gitkeep файлы
!data/.gitkeep
!data/outputs/.gitkeep

# Кэшированные файлы Python (__pycache__, *.pyc и т.д.)
__pycache__/
*.py[cod]
*$py.class

# Расширения C (скомпилированные модули)
*.so

# ---------------------------
# 📦 Установка и пакетирование
# ---------------------------

# Виртуальные окружения
env/
venv/
.venv/
ENV/

# Сборки проекта
build/
dist/
develop-eggs/
distribute_scratch/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Логи установки pip
pip-log.txt
pip-delete-this-directory.txt


# ---------------------------
# 🧪 Тесты и покрытие кода
# ---------------------------

# Результаты тестов и покрытия
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover


# ---------------------------
# 📚 Документация Sphinx
# ---------------------------

# Генерируемая документация
docs/_build/


# ---------------------------
# 🧑‍💻 IDE и редакторы
# ---------------------------

# VS Code не включаем, т.к необходимо переносить настройки VS Code вместе с проектом
#.vscode/

# JetBrains (PyCharm, IntelliJ и др.)
.idea/


# ---------------------------
# 🖥️ Системные файлы ОС
# ---------------------------

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db


# ---------------------------
# 🐳 Docker и логи
# ---------------------------

# Логи контейнеров
*.log

# Переопределение для Docker Compose
docker-compose.override.yml


# ---------------------------
# 🔧 Инструменты разработки
# ---------------------------

# Настройки Pyenv
.python-version

# Точки останова Jupyter Notebook
.ipynb_checkpoints/

# mypy (статический анализ типов)
.mypy_cache/

# Pyre (анализатор типов от Facebook)
.pyre/

# Profiling data (например, cProfile)
.prof

# Расписание задач Celery Beat
celerybeat-schedule

# Переменные окружения из .env
.env

# ---------------------------
# 📂 Логи и пользовательские данные
# ---------------------------

# Логи приложений
*.log
logs/

# Базы данных SQLite
*.sqlite3


# ---------------------------
# 📦 Пакеты и кэши
# ---------------------------

# Wheel-файлы Python
*.whl

# pytest cache
.pytest_cache/

# C-расширения
*.so