# Вывод цветных логов
colorama

# Работа с .env
python-dotenv

# Проверка кода перед коммитом (линтеры, форматирование итд)
pre-commit

# Генерация документации
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-intl
sphinxcontrib-plantuml
sphinx-rtd-theme
sphinx-togglebutton
myst-parser

# Управление шаблоном проекта
copier

# Валидация и сериализация
pydantic[all]
pydantic-settings

# Работа с базами данных
sqlalchemy
aiosqlite
alembic

# Работа с медиа
pillow