# для вывода цветных логов
colorama

# работа с .env
environs

# Поддержка markdown
myst-parser

# для проверки кода перед коммитом (линтеры, форматирование итд)
pre-commit

# для автоматической генерации документации
sphinx
sphinx-autodoc-typehints
sphinx-copybutton